.companie-detail {
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-companie {
    display: flex;
    margin-top: 50px;
}

.companie-pic {
    width: 200px;
}

.companie-name {
    margin-bottom: 12px;
}

.companie-info {
    margin-left: 12px;
    width: 500px;
}

.label {
    font-size: 18px;
    margin-left: 90px;
    align-self: flex-start;
    margin-top: 30px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: #242426;
    aspect-ratio: 1/1;
    border-radius: 20px;
}

.products{
    margin-left: 50px;
    align-self: flex-start;
    display: flex;
}

.product-card{
    margin: 18px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    height: 85px;
}

.product-name {
    font-size: 15px;
    margin: 8px;
}