.extended-card{
    color: white;
    align-self: center;
    margin: 30px;
    padding: 25px;
    width: 50%;
    height: 400px;
}

.head-card{
    display: flex;
    align-items: center;
}

.username-card{
    margin: 20px;
    font-weight: bold;
    font-size: 25px;
}

.profile-picture-min{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.title-card{
    font-size: 20px;
}

.card-content{
    font-size: 14px;
    margin-top: 20px;
}

.card{
    border-radius: 20px;
    width: 400px;
    margin-top: 15px;
    padding: 29px 25px;
    background-color: #242426;
}